<h1> View Tweets </h1>
<% if Helpers.is_logged_in?(session) %>
<<<<<<< HEAD
<h2> Welcome. Welcome, Welcome! </h2>
=======
>>>>>>> e498e2874dc1c65b9572a3cc6e96705b3cab98ce
  <% @tweets.each do |tweet| %>
    <p>
    <%=  tweet.content %>
      <br>
      tweeted by: <%= User.find_by(id: tweet.user_id).username %>
    </p>
  <% end %>
<% else %>
    <h1> You Must Be Logged in to View Tweets </h1>
<% end %>
