<form action="/logout" method="post">
  Logout?
<<<<<<< HEAD
  <input type="submit" name="submit" >
</form>
=======
  <input type="submit" name="logout" >
</form>   
>>>>>>> e498e2874dc1c65b9572a3cc6e96705b3cab98ce
